.container {
    width: 1000px;   
    height: 150px;
    border: 1px black solid;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.item {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 1px black solid;
    position: relative;
}
